@page "/register"
@layout AuthLayout

<h1 class="h2 font-weight-normal login-title">
    Register
</h1>

<EditForm class="form-signin" OnValidSubmit="Register" Model="registerModel">
    <DataAnnotationsValidator />

    <label for="inputUsername" class="sr-only">User Name</label>
    <InputText id="inputUsername" class="form-control" placeholder="Username" autofocus @bind-Value="@registerModel.UserName" />
    <ValidationMessage For="@(() => registerModel.UserName)" />

    <label for="inputName" class="sr-only">Name</label>
    <InputText id="inputName" class="form-control" placeholder="Name" autofocus @bind-Value="@registerModel.Name" />
    <ValidationMessage For="@(() => registerModel.UserName)" />

    <label for="inputPassword" class="sr-only">Password</label>
    <InputText type="password" id="inputPassword" class="form-control" placeholder="Password" @bind-Value="@registerModel.Password" />
    <ValidationMessage For="@(() => registerModel.Password)" />

    <label for="inputPasswordConfirm" class="sr-only">Password Confirmation</label>
    <InputText type="password" id="inputPasswordConfirm" class="form-control" placeholder="Password Confirmation" @bind-Value="@registerModel.PasswordConfirm" />
    <ValidationMessage For="@(() => registerModel.PasswordConfirm)" />

    <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>

    <label class="text-danger">@error</label>
    <NavLink href="login">
        <h6 class="font-weight-normal text-center">Уже зарегистрированны? Нажмите, чтобы выполнить вход.</h6>
    </NavLink>
</EditForm>